@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  width: 4px;
}

::-webkit-scrollbar:horizontal {
  height: 8px;
}
::-webkit-scrollbar-thumb {
  background-color: rgb(178, 4, 4);
  border-radius: 30px;
}
.task > ::-webkit-scrollbar-thumb {
  background-color: rgb(65, 4, 178);
}

.dark {
  --bg: #000;
  --textcolor: #fff;
  --softtask: #191717;
  --softcol: #191717;
  --softtextcolor: #a6a6a6;
  --bordercolor: #fff;
}
.light {
  --bg: white;
  --textcolor: black;
  --softtask: #9ade7b;
  --softcol: #9ade7b;
  --softtextcolor: ##626262;
  --bordercolor: #000;
}
.containerr {
  min-height: 100vh;
  background-color: var(--bg);
  color: var(--textcolor);
}
.logoname {
  color: var(--textcolor);
}
.taskcardcontainer {
  background-color: var(--softtask);
  border-color: var(--bordercolor);
  color: var(--textcolor);
}
.taskcarcontent {
  color: var(--textcolor);
}
.colContainer {
  background-color: var(--softcol);
  color: var(--textcolor);
  border-color: var(--bordercolor);
}
.edit {
  background-color: var(--softtask);
  color: var(--textcolor);
}
