@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  width: 4px;
}

::-webkit-scrollbar:horizontal {
  height: 8px;
}
::-webkit-scrollbar-thumb {
  background-color: rgb(178, 4, 4);
  border-radius: 30px;
}
.task > ::-webkit-scrollbar-thumb {
  background-color: rgb(65, 4, 178);
}
